@using MyJetWallet.BitGo.Settings.NoSql
@using Backoffice.Abstractions.Models
@using Backoffice.Services.BitGo.Coins
@inject IBitGoCoinManager BitGoCoinManager;
@inject IToaster ToastService

<Loader LoaderConfig="@LoaderConfig"/>

<ul class="nav float-left">
    <li><button @onclick="OnRefresh" type="button" class="btn btn-outline-primary" style="margin: 5px; border-radius: 10px">Refresh</button></li>
    <li><button @onclick="OnAddCoin" type="button" class="btn btn-outline-success" style="margin: 5px; border-radius: 10px">Add</button></li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th>BitGo coin</th>
            <th>Accuracy</th>
            <th>Required confirmations</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var bitGoCoin in BitGoCoinList)
        {
            <BitGoCoinTableRow Item="@bitGoCoin" LoaderConfig="@LoaderConfig" OnDeleteCallback="DeleteCoin" />
        }
    
    </tbody>
</table>

@if (IsShowAdding)
{
    <div>
        <BitGoCoinDetailsDialogEdit IsCreate="true" OnCloseCallback="OnCloseAddingDialog" OnCreateCallback="OnCreateCoin" />
    </div>
}


@code {
    private string Message { get; set; } = "-- none --";

    private ILoaderConfiguration LoaderConfig { get; set; } = new LoaderConfiguration();
    
    private bool IsShowAdding { get; set; }

    private List<BitgoCoinEntity> BitGoCoinList { get; set; } = new();

    private async void OnRefresh()
    {
        LoaderConfig.Enable();
        
        BitGoCoinList = await BitGoCoinManager.GetAll() ?? new List<BitgoCoinEntity>();
        
        LoaderConfig.Disable();
        await InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized()
    {
        OnRefresh();
        
        base.OnInitialized();
    }

    private async Task OnAddCoin()
    {
        IsShowAdding = true;
        await InvokeAsync(StateHasChanged);
    }

    private void OnCloseAddingDialog()
    {
        IsShowAdding = false;
        StateHasChanged();
    }
    
    private async void OnCreateCoin(BitgoCoinEntity item)
    {
        try
        {
            await BitGoCoinManager.CreateBitGoCoin(item);
            
            ToastService.Info($"BitGo Coin {item.Coin} is created", "Create BitGo coin");
            
            IsShowAdding = false;
            
            OnRefresh();    
        }
        catch (Exception ex)
        {
            ToastService.Error(ex.Message, "BitGo Coin creation");
        }
    }

    private async void DeleteCoin(BitgoCoinEntity item)
    {
        try
        {
            await BitGoCoinManager.DeleteCoin(item);
            
            ToastService.Info($"BitGo Coin {item.Coin} is deleted", "Delete BitGo coin");
            
            OnRefresh();    
        }
        catch (Exception ex)
        {
            ToastService.Error(ex.Message, "BitGo Coin deletion");
        }
    }
}