@using MyJetWallet.BitGo.Settings.NoSql
<BaseTwoButtonsDialog
    Caption=@(!IsCreate ? $"{Item.Coin}" : "Create a new BitGo Coin")
    OnClose="OnClose"
    YesButtonCaption="@(IsCreate ? "Create" : "Save")"
    NoButtonCaption="Close"
    OnSubmit="OnSubmit">

    <table>

        <tr>
            <td>

                <table>
                    <tr>
                        <td>BitGo coin</td>
                        <td class="float-left">
                            @if (!IsCreate)
                            {
                                @Item.Coin
                            }
                            else
                            {
                                <input type="text" class="form-control" @bind="Item.Coin"/>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Accuracy</td>
                        <td class="float-left">
                            <input type="number" class="form-control" @bind="Item.Accuracy"/>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Required confirmations</td>
                        <td class="float-left">
                            <input type="number" class="form-control" @bind="Item.RequiredConfirmations"/>
                        </td>
                    </tr>
                    <tr>
                        <td>MAIN network</td>
                        <td class="float-left">
                            <input type="checkbox" class="form-control" @bind="Item.IsMainNet"/>
                        </td>
                    </tr>
                </table>
            </td>

        </tr>
    </table>
</BaseTwoButtonsDialog>

@code {

    [Parameter]
    public BitgoCoinEntity Item { get; set; }

    [Parameter]
    public bool IsCreate { get; set; }

    [Parameter]
    public EventCallback OnCloseCallback { get; set; }

    [Parameter]
    public EventCallback<BitgoCoinEntity> OnCreateCallback { get; set; }

    [Parameter]
    public EventCallback<BitgoCoinEntity> OnUpdateCallback { get; set; }

    private void OnClose()
    {
        OnCloseCallback.InvokeAsync();
    }

    private async Task OnSubmit()
    {
        if (IsCreate)
            await OnCreateCallback.InvokeAsync(Item);
        else
            await OnUpdateCallback.InvokeAsync(Item);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (IsCreate)
            Item = new BitgoCoinEntity();
    }

}