@using Service.BitGo.SignTransaction.Domain.Models
@using Backoffice.Abstractions.Bo
<BaseTwoButtonsDialog
    Caption=@(!IsCreate ? $"{Item.Id}" : "Create a new BitGo User")
    OnClose="OnClose"
    YesButtonCaption="@(IsCreate ? "Create" : "Update key")"
    NoButtonCaption="Close"
    OnSubmit="OnSubmit">

    <table>

        <tr>
            <td>

                <table>
                    <tr>
                        <td>Broker</td>
                        <td class="float-left">
                            @if (!IsCreate)
                            {
                                @Item.BrokerId
                            }
                            else
                            {
                                <input type="text" class="form-control" @bind="Item.BrokerId"/>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td class="float-left">
                            @if (!IsCreate)
                            {
                                @Item.Id
                            }
                            else
                            {
                                <input type="text" class="form-control" @bind="Item.Id"/>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>BitGo user Id</td>
                        <td class="float-left">
                            @if (!IsCreate)
                            {
                                @Item.BitGoId
                            }
                            else
                            {
                                <input type="text" class="form-control" @bind="Item.BitGoId"/>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Api key</td>
                        <td class="float-left">
                            <input type="text" class="form-control" @bind="Item.ApiKey"/>
                        </td>
                    </tr>
                </table>
            </td>

        </tr>
    </table>
</BaseTwoButtonsDialog>

@code {

    [Parameter]
    public BitGoUser Item { get; set; }

    [Parameter]
    public bool IsCreate { get; set; }

    [Parameter]
    public EventCallback OnCloseCallback { get; set; }

    [Parameter]
    public EventCallback<BitGoUser> OnCreateCallback { get; set; }

    [Parameter]
    public EventCallback<BitGoUser> OnUpdateCallback { get; set; }
    
    [CascadingParameter(Name = "CurrentBoUserUser")]
    public IBackOfficeUser CurrentBoUserUser { get; set; }

    private void OnClose()
    {
        OnCloseCallback.InvokeAsync();
    }

    private async Task OnSubmit()
    {
        if (IsCreate)
            await OnCreateCallback.InvokeAsync(Item);
        else
            await OnUpdateCallback.InvokeAsync(Item);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (IsCreate)
            Item = new BitGoUser()
            {
                BrokerId = "jetwallet",
                RegisterDate = DateTime.Now,
                UpdatedDate = DateTime.Now,
                UpdatedBy = CurrentBoUserUser.Id
            };
    }

}