@using Service.Liquidity.Portfolio.Grpc
@using Service.Liquidity.Portfolio.Domain.Models
@using Service.Liquidity.Monitoring.Grpc
@using Service.Liquidity.Monitoring.Domain.Models
@using MyNoSqlServer.Abstractions

@inject IAssetPortfolioSettingsManager _assetPortfolioSettingsManager
@inject IMyNoSqlServerDataReader<AssetPortfolioSettingsNoSql> _myNoSqlServerDataReader;

@foreach (var elem in SettingsWithStringValues)
{
    <div class="col">
        <table>
            <thead>
            <tr>
                <th>Asset</th>
                <th>PositiveUpl</th>
                <th>NegativeUpl</th>
                <th>PositiveNetUsd</th>
                <th>NegativeNetUsd</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="align-middle">
                    <input type="text" class="form-control" @bind="elem.Value.Asset"/>
                </td>
                <td class="align-middle">
                    <input type="text" class="form-control" @bind="elem.Value.PositiveUplString"/>
                </td>
                <td class="align-middle">
                    <input type="text" class="form-control" @bind="elem.Value.NegativeUplString"/>
                </td>
                <td class="align-middle">
                    <input type="text" class="form-control" @bind="elem.Value.PositiveNetUsdString"/>
                </td>
                <td class="align-middle">
                    <input type="text" class="form-control" @bind="elem.Value.NegativeNetUsdString"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
}

<div>
    <ul class="nav align-middle">
        <li><button style="margin-left: 10px" type="button" class="btn-outline-danger btn" @onclick="ApplySettings">Apply</button></li>
        <li><button style="margin-left: 10px" type="button" class="btn-outline-info btn" @onclick="ResetSettings">Refresh</button></li>
        <li><button style="margin-left: 10px" type="button" class="btn-outline-info btn" @onclick="CreateNew">Create New</button></li>
    </ul>
</div>

@if (IsShowQuestion)
{
    <div>
        <BaseTwoButtonsDialog
            Caption="@QuestionTitle"
            OnClose="OnCloseQuestionDialog"
            YesButtonCaption="Yes"
            NoButtonCaption="No"
            OnSubmit="ConfirmQuestion">
            
            <h3 class="alert-warning">@QuestionText</h3>
            
        </BaseTwoButtonsDialog>
    </div>
}

@code {
    private List<AssetPortfolioSettings> Settings { get; set; } = new();
    private Dictionary<string, AssetPortfolioSettingsWithStringValues> SettingsWithStringValues { get; set; } = new();

    private class AssetPortfolioSettingsWithStringValues
    {
        public string Asset { get; set; }
        public string PositiveUplString { get; set; }
        public string NegativeUplString { get; set; }
        public string PositiveNetUsdString { get; set; }
        public string NegativeNetUsdString { get; set; }
    }

    private string ErrorText { get; set; }
    private bool ShowError { get; set; } = false;
    
    private bool IsShowQuestion { get; set; }
    private string QuestionTitle { get; set; }
    private string QuestionText { get; set; }
    private Func<Task> QuestionConfirmCallback { get; set; }

    private async Task CreateNew()
    {
        SettingsWithStringValues.Add(string.Empty, new AssetPortfolioSettingsWithStringValues());
        ShowError = false;
        StateHasChanged();
    }
    
    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
        StateHasChanged();
    }
    
    private async Task RefreshData()
    {
        try
        {
            var response = _myNoSqlServerDataReader
                .Get()
                .ToList();
            Settings = new();
            response.ForEach(elem =>
            {
                Settings.Add(elem.Settings);
            });
            ShowError = false;

            RefreshSettingsWithStringValues();
            
            StateHasChanged();
        }
        catch (Exception exception)
        {
            ShowErrorText(exception.Message);
        }
    }

    private void RefreshSettingsWithStringValues()
    {
        SettingsWithStringValues = new();
        Settings.ForEach(e =>
        {
            var setting = SettingsWithStringValues.TryGetValue(e.Asset, out var result) ? result : null;

            SettingsWithStringValues[e.Asset] = new AssetPortfolioSettingsWithStringValues()
            {
                Asset = e.Asset,
                PositiveUplString = GetStringByDecimalList(e.PositiveUpl),
                NegativeUplString = GetStringByDecimalList(e.NegativeUpl),
                PositiveNetUsdString = GetStringByDecimalList(e.PositiveNetUsd),
                NegativeNetUsdString = GetStringByDecimalList(e.NegativeNetUsd)
            };
        });
        var x = SettingsWithStringValues;
    }
    
    private void RefreshSettingsFromStrings()
    {
        Settings = new List<AssetPortfolioSettings>();
        foreach (var (_, value) in SettingsWithStringValues)
        {
            Settings.Add(new AssetPortfolioSettings()
            {
                Asset = value.Asset,
                PositiveUpl = GetDecimalListByString(value.PositiveUplString, false),
                NegativeUpl = GetDecimalListByString(value.NegativeUplString, true),
                PositiveNetUsd = GetDecimalListByString(value.PositiveNetUsdString, false),
                NegativeNetUsd = GetDecimalListByString(value.NegativeNetUsdString, true)
            });
        }
    }

    private List<decimal> GetDecimalListByString(string value, bool isNegative)
    {
        if (string.IsNullOrWhiteSpace(value))
        {
            return new List<decimal>();
        }
        
        if (isNegative)
        {
            return value.Trim().Split(";").Where(e => !string.IsNullOrWhiteSpace(e)).Select(e => -Math.Abs(Convert.ToDecimal(e))).ToList();
        }
        return value.Trim().Split(";").Where(e => !string.IsNullOrWhiteSpace(e)).Select(Convert.ToDecimal).ToList();
    }

    private string GetStringByDecimalList(List<decimal> list)
    {
        var result = string.Empty;

        if (list == null)
            return result;
        
        foreach (var e in list)
        {
            if (!string.IsNullOrWhiteSpace(result))
                result += "; ";
            result += e;
        }
        return result;
    }

    private void ShowErrorText(string message)
    {
        ErrorText = message;
        ShowError = true;
        Settings = new List<AssetPortfolioSettings>();

        StateHasChanged();
    }

    private void ApplySettings()
    {
        AskQuestion("Change Settings", "Apply a new settings. Are you sure?",
            async () =>
            {
                RefreshSettingsFromStrings();
                
                Settings.ForEach(async elem =>
                {
                    await _assetPortfolioSettingsManager.UpdateAssetPortfolioSettingsAsync(elem);
                });
                StateHasChanged();
            });
    }

    private async Task ResetSettings()
    {
        await RefreshData();
        StateHasChanged();
    }

    private void AskQuestion(string title, string content, Func<Task> confirmAction)
    {
        QuestionTitle = title;
        QuestionText = content;
        QuestionConfirmCallback = confirmAction;
        IsShowQuestion = true;
        
        StateHasChanged();
    }
    private async Task ConfirmQuestion()
    {
        await InvokeAsync(StateHasChanged);
        
        var action = QuestionConfirmCallback;
        if (action != null)
        {
            await action.Invoke();
        }

        IsShowQuestion = false;
        await InvokeAsync(StateHasChanged);
    }
    private void OnCloseQuestionDialog()
    {
        IsShowQuestion = false;
        StateHasChanged();
    }
}
