@using Service.Liquidity.Portfolio.Grpc
@using Service.Liquidity.Portfolio.Domain.Models
@inject IAssetPortfolioSettingsManager _assetPortfolioSettingsManager

@foreach (var elem in Settings)
{
    <div class="col">
        <h2>
            @elem.Asset
        </h2>
        <table>  
            <tr>
                <td class="align-middle">Asset</td>
                <td class="align-middle">
                    <input type="text" class="form-control" @bind="elem.Asset"/>
                </td>
            </tr>
            <tr>
                <td class="align-middle">NetWarningLevel</td>
                <td class="align-middle">
                    <input type="number" class="form-control" @bind="elem.NetWarningLevel"/>
                </td>
            </tr>
            <tr>
                <td class="align-middle">NetDangerLevel</td>
                <td class="align-middle">
                    <input type="number" class="form-control" @bind="elem.NetDangerLevel"/>
                </td>
            </tr>
            <tr>
                <td class="align-middle">NetCriticalLevel</td>
                <td class="align-middle">
                    <input type="number" class="form-control" @bind="elem.NetCriticalLevel"/>
                </td>
            </tr>
        </table>
    </div>
    <br>
}

<div>
    <ul class="nav align-middle">
        <li><button style="margin-left: 10px" type="button" class="btn-outline-danger btn" @onclick="ApplySettings">Apply</button></li>
        <li><button style="margin-left: 10px" type="button" class="btn-outline-info btn" @onclick="ResetSettings">Refresh</button></li>
        <li><button style="margin-left: 10px" type="button" class="btn-outline-info btn" @onclick="CreateNew">Create New</button></li>
    </ul>
</div>

@if (IsShowQuestion)
{
    <div>
        <BaseTwoButtonsDialog
            Caption="@QuestionTitle"
            OnClose="OnCloseQuestionDialog"
            YesButtonCaption="Yes"
            NoButtonCaption="No"
            OnSubmit="ConfirmQuestion">
            
            <h3 class="alert-warning">@QuestionText</h3>
            
        </BaseTwoButtonsDialog>
    </div>
}

@code {
    private List<AssetPortfolioSettings> Settings { get; set; } = new();

    private string ErrorText { get; set; }
    private bool ShowError { get; set; } = false;
    
    private bool IsShowQuestion { get; set; }
    private string QuestionTitle { get; set; }
    private string QuestionText { get; set; }
    private Func<Task> QuestionConfirmCallback { get; set; }

    private async Task CreateNew()
    {
        Settings.Add(new AssetPortfolioSettings());
        ShowError = false;
        StateHasChanged();
    }
    
    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
        StateHasChanged();
    }
    
    private async Task RefreshData()
    {
        try
        {
            var response = await _assetPortfolioSettingsManager
                .GetAssetPortfolioSettingsAsync();
            if (!response.Success)
            {
                ShowErrorText(response.ErrorMessage);
            }
            else
            {
                Settings = new();
                response.Settings.ForEach(elem =>
                {
                    Settings.Add(elem);
                });
                ShowError = false;
            }
        }
        catch (Exception exception)
        {
            ShowErrorText(exception.Message);
        }
    }

    private void ShowErrorText(string message)
    {
        ErrorText = message;
        ShowError = true;
        Settings = new List<AssetPortfolioSettings>();

        StateHasChanged();
    }

    private void ApplySettings()
    {
        AskQuestion("Change Settings", "Apply a new settings. Are you sure?",
            async () =>
            {
                Settings.ForEach(async elem =>
                {
                    await _assetPortfolioSettingsManager.UpdateAssetPortfolioSettingsAsync(elem);
                });
                StateHasChanged();
            });
    }
    private async Task ResetSettings()
    {
        await RefreshData();
        StateHasChanged();
    }

    private void AskQuestion(string title, string content, Func<Task> confirmAction)
    {
        QuestionTitle = title;
        QuestionText = content;
        QuestionConfirmCallback = confirmAction;
        IsShowQuestion = true;
        
        StateHasChanged();
    }
    private async Task ConfirmQuestion()
    {
        await InvokeAsync(StateHasChanged);
        
        var action = QuestionConfirmCallback;
        if (action != null)
        {
            await action.Invoke();
        }

        IsShowQuestion = false;
        await InvokeAsync(StateHasChanged);
    }
    private void OnCloseQuestionDialog()
    {
        IsShowQuestion = false;
        StateHasChanged();
    }
}