@using Service.SmsSender.Domain.Models
@using Service.SmsSender.Domain.Models.Enums
@using System.Linq

<BaseTwoButtonsDialog Caption=@(Template.Id.ToString())
                      OnClose="OnClose"
                      YesButtonCaption="Save"
                      NoButtonCaption="Close"
                      OnSubmit="OnSubmit">
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Default Brand</td>
                        <td class="float-left">
                            <input type="text" class="form-control" @bind="Template.DefaultLang" />
                        </td>
                    </tr>
                    <tr>
                        <td>Default Lang</td>
                        <td class="float-left">
                            <input type="text" class="form-control" @bind="Template.DefaultLang" />
                        </td>
                    </tr>
                    @foreach (var brandLangBody in Template.BrandLangBodies)
                    {
                        @foreach (var (lang, _) in brandLangBody.LangBodies)
                        {
                            <tr>
                                @if (lang == Template.DefaultLang.ToString())
                                {
                                    <td>Default (@lang) Body</td>
                                }
                                @if (lang == Template.DefaultLang.ToString())
                                {
                                    <td>@lang Body</td>
                                }
                                <td class="float-left">
                                    <input type="text" class="form-control" @bind="@brandLangBody.LangBodies[lang]" />
                                </td>
                            </tr>
                        }
                    }
                </table>
            </td>
        </tr>
    </table>
</BaseTwoButtonsDialog>

@code {

    [Parameter]
    public TemplateEnum TemplateId { get; set; }

    [Parameter]
    public SmsTemplate Template { get; set; } = new();

    [Parameter]
    public bool IsCreate { get; set; }

    [Parameter]
    public EventCallback OnCloseCallback { get; set; }

    [Parameter]
    public EventCallback<SmsTemplate> OnCreateCallback { get; set; }

    [Parameter]
    public EventCallback<SmsTemplate> OnUpdateCallback { get; set; }

    private void OnClose()
    {
        OnCloseCallback.InvokeAsync();
    }

    private async Task OnSubmit()
    {
        await OnUpdateCallback.InvokeAsync(Template);
    }

    protected override void OnInitialized()
    {
        Template.Id = TemplateId;

        base.OnInitialized();
    }
}