@using Service.SmsSender.Domain.Models
@using Service.SmsSender.Domain.Models.Enums
@using Backoffice.Models.SmsSender
@using Service.SmsSender.Grpc.Models.Requests

<BaseTwoButtonsDialog Caption="@(Request.TemplateId.ToString())"
                      OnClose="OnClose"
                      YesButtonCaption="Save"
                      NoButtonCaption="Cancel"
                      OnSubmit="OnSubmit">

            @if (IsCreate)
            {
                <div>
                    <input type="text" class="form-control" placeholder="Brand" @bind="Request.Brand"/>
                </div>
                <div>
                    <input type="text" class="form-control" placeholder="Language" @bind="Request.Lang"/>
                </div>
            }
            <div>
                <textarea type="text" class="form-control" placeholder="Body" @bind="Request.TemplateBody"></textarea>
            </div>
            <div>Template params:
                @foreach(var param in TemplateParams)
                {
                    <ul>@param</ul>
                }</div>
            
</BaseTwoButtonsDialog>

@code {

    [Parameter]
    public (string brand, string lang) BodyId { get; set; }
    
    [Parameter]
    public EditTemplateRequest Request { get; set; } = new();

    [Parameter]
    public bool IsCreate { get; set; }

    [Parameter]
    public EventCallback OnCloseCallback { get; set; }

    [Parameter]
    public EventCallback<EditTemplateRequest> OnCreateCallback { get; set; }

    [Parameter]
    public EventCallback<EditTemplateRequest> OnUpdateCallback { get; set; }
    
    [Parameter]
    public List<string> TemplateParams { get; set; }

    private void OnClose()
    {
        OnCloseCallback.InvokeAsync();
    }

    private async Task OnSubmit()
    {
        await OnUpdateCallback.InvokeAsync(Request);
    }

}