@using Service.SmsSender.Domain.Models
@using Service.SmsSender.Grpc
@using Backoffice.Abstractions.Models
@using System.Threading
@using Backoffice.Extensions

@inject ISmsTemplateService SmsTemplateService
@inject IToaster ToastService

<Loader LoaderConfig="@LoaderConfig" />

<ul class="nav float-left">
    <li><button @onclick="OnRefresh" type="button" class="btn btn-outline-primary" style="margin: 5px; border-radius: 10px">Refresh</button></li>
</ul>
<div class="row">
    <table class="table" style="width: auto">
        <thead>
            <tr>
                <th>Template</th>
                <th>Default lang</th>
                <th>Body</th>
                @*<th>Params</th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var template in TemplatesList)
        {
            <TemplatesTableRow Template="@template" LoaderConfig="@LoaderConfig" />
        }
        </tbody>
    </table>
</div>

@code {

    private ILoaderConfiguration LoaderConfig { get; set; } = new LoaderConfiguration();
    private SmsTemplate[] TemplatesList { get; set; } = Array.Empty<SmsTemplate>();
    private SmsTemplate SelectedTemplate { get; set; }

    private bool IsShowAdding { get; set; }
    private const int MAX_ATTEMPTS_COUNT = 3;

    private async void OnRefresh()
    {
        LoaderConfig.Enable();

        await LoadTemplatesAsync();

        LoaderConfig.Disable();

        await InvokeAsync(StateHasChanged);
    }

    private async Task LoadTemplatesAsync()
    {
        var attempts = 0;
        var exceptionMessage = string.Empty;

        while (attempts < MAX_ATTEMPTS_COUNT)
        {
            try
            {
                var templatesResponse = await SmsTemplateService.GetAllTemplatesAsync();
                TemplatesList = templatesResponse?.Templates;

                if (TemplatesList != null)
                {
                    var filteredLangBodies = new Dictionary<string, string>();
                    foreach (var template in TemplatesList)
                    {
                        var defaultLangBody = template.LangBodies[template.DefaultLang.ToString()];
                        filteredLangBodies.Add(template.DefaultLang.ToString(), defaultLangBody);
                        filteredLangBodies.AddRange(template.LangBodies.Where(b => b.Value != defaultLangBody));
                        template.LangBodies = filteredLangBodies;
                    }
                }

                break;
            }
            catch (Exception ex)
            {
                exceptionMessage = ex.Message;
                attempts++;
            }

            Thread.Sleep(1000);
        }

        if (attempts == MAX_ATTEMPTS_COUNT)
        {
            ToastService.Error(exceptionMessage, "Cannot get any templates.");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        LoaderConfig.Enable();

        await LoadTemplatesAsync();

        LoaderConfig.Disable();

        await base.OnInitializedAsync();
    }

}