@using Service.PushNotification.Grpc.Models.Requests
@using Microsoft.AspNetCore.Components
<BaseTwoButtonsDialog Caption="@(Request.Type.ToString())"
                      OnClose="OnClose"
                      YesButtonCaption="Save"
                      NoButtonCaption="Cancel"
                      OnSubmit="OnSubmit">

            @if (IsCreate)
            {
                <div>
                    <input type="text" class="form-control" placeholder="Brand" @bind="Request.Brand"/>
                </div>
                <div>
                    <input type="text" class="form-control" placeholder="Language" @bind="Request.Lang"/>
                </div>
            }
            <div>
                <textarea type="text" class="form-control" placeholder="Topic" @bind="Request.TemplateTopic"></textarea>
            </div>
            <div>
                <textarea type="text" class="form-control" placeholder="Body" @bind="Request.TemplateBody"></textarea>
            </div>
            <ul>
                Template params:
                @foreach (var param in TemplateParams)
                {
                    <li>@param</li>
                }
            </ul>

            @if (_showError)
            {
                <h4>Empty fields are not allowed</h4>
            }
            
</BaseTwoButtonsDialog>

@code {

    [Parameter]
    public (string brand, string lang) BodyId { get; set; }
    
    [Parameter]
    public TemplateEditRequest Request { get; set; } = new();

    [Parameter]
    public bool IsCreate { get; set; }

    [Parameter]
    public EventCallback OnCloseCallback { get; set; }

    [Parameter]
    public EventCallback<TemplateEditRequest> OnCreateCallback { get; set; }

    [Parameter]
    public EventCallback<TemplateEditRequest> OnUpdateCallback { get; set; }
    
    [Parameter]
    public List<string> TemplateParams { get; set; }
    private bool _showError = false;

    private void OnClose()
    {
        OnCloseCallback.InvokeAsync();
    }

    private async Task OnSubmit()
    {
        if (String.IsNullOrWhiteSpace(Request.Brand) || String.IsNullOrWhiteSpace(Request.Lang) || String.IsNullOrWhiteSpace(Request.TemplateBody) || String.IsNullOrWhiteSpace(Request.TemplateTopic))
        {
            _showError = true;
        }
        else
        {
            _showError = false;
            await OnUpdateCallback.InvokeAsync(Request);
        }    
    }

}