@page "/CashOperations"

@using Backoffice.Components.CashOperations.Deposits;
@using Backoffice.Components.CashOperations.Withdrawals;

<ul class="nav nav-tabs nav-pills">
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.Deposits)" aria-current="page" @onclick="SetDeposits" >Deposits</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.Withdrawals)" aria-current="page" @onclick="SetWithdrawals" >Withdrawals</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.Transfers)" aria-current="page" @onclick="SetTransfers">Transfers</button>
    </li>
</ul>

<div style="margin: 10px">
    
    @if (ActivePage == Menus.Deposits)
    {
        <DepositsComponent />
    }
    
    @if (ActivePage == Menus.Withdrawals)
    {
        <WithdrawalsComponent />
    }
    @if (ActivePage == Menus.Transfers)
    {
        <InternalTransfersComponent />
    }
</div>

@code {

    private Menus ActivePage { get; set; } = Menus.Deposits;

    private string CheckActive(Menus target)
    {
        if (ActivePage == target)
            return "active";

        return "";
    }

    private void SetDeposits()
    {
        SetActive(Menus.Deposits);
    }

    private void SetWithdrawals()
    {
        SetActive(Menus.Withdrawals);
    }
    
    private void SetTransfers()
    {
        SetActive(Menus.Transfers);
    }

    private void SetActive(Menus page)
    {
        ActivePage = page;
        StateHasChanged();
    }
    
    public enum Menus
    {
        Deposits,
        Withdrawals,
        Transfers
    }
}