@page "/MarketInfo"

<ul class="nav nav-tabs nav-pills">
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.MarketInfo)" aria-current="page" @onclick="SetMarketInfo" >Prices</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.CmcApiKeys)" @onclick="SetApiKeys" >BasePrices</button>
    </li>
</ul>

<div style="margin: 10px">
    
    @if (ActivePage == Menus.MarketInfo)
    {
        <MarketInfoComponent />
    }

    @if (ActivePage == Menus.CmcApiKeys)
    {
        <CMCApiKeysComponent />
    }
</div>

@code {

    private Menus ActivePage { get; set; } = Menus.MarketInfo;

    private string CheckActive(Menus target)
    {
        if (ActivePage == target)
            return "active";

        return "";
    }

    private void SetMarketInfo()
    {
        SetActive(Menus.MarketInfo);
    }

    private void SetApiKeys()
    {
        SetActive(Menus.CmcApiKeys);
    }

    private void SetActive(Menus page)
    {
        ActivePage = page;
        StateHasChanged();
    }
    
    public enum Menus
    {
        MarketInfo,
        CmcApiKeys,
    }
 
}