@using Backoffice.Components.Monitor

@page "/Monitor"


<ul class="nav nav-tabs nav-pills">
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.Trades)" aria-current="page" @onclick="SetTrades" >Trades</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.WalletObserver)" aria-current="page" @onclick="SetWalletObserver" >Wallet Observer</button>
    </li>
</ul>

<div style="margin: 10px">
    @if (ActivePage == Menus.Trades)
    {
        <ClientTradeHistoryComponent />
    }
    @if (ActivePage == Menus.WalletObserver)
    {
        <WalletObserverComponent />
    }
</div>



@code {
    private Menus ActivePage { get; set; } = Menus.WalletObserver;
    private string CheckActive(Menus target)
    {
        if (ActivePage == target)
            return "active";

        return "";
    }
    private void SetTrades()
    {
        SetActive(Menus.Trades);
    }
    private void SetActive(Menus page)
    {
        ActivePage = page;
        StateHasChanged();
    }
    public enum Menus
    {
        Trades,
        WalletObserver
    }

    private void SetWalletObserver()
    {
        SetActive(Menus.WalletObserver);
    }
}