@page "/References"
<h3>References</h3>


<ul class="nav nav-tabs nav-pills">
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.MarketReferences)" aria-current="page" @onclick="SetReferences" >Markets</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.MarketInfo)" aria-current="page" @onclick="SetMarketInfo">Infos</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.CmcApiKeys)" @onclick="SetApiKeys">CMC Api Keys</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.News)" @onclick="SetNews" >News</button>
    </li>
</ul>

<div style="margin: 10px">
    @if (ActivePage == Menus.MarketReferences)
    {
        <MarketReferenceComponent />
    }
        
    @if (ActivePage == Menus.MarketInfo)
    {
        <MarketInfoComponent />
    }

    @if (ActivePage == Menus.CmcApiKeys)
    {
        <CMCApiKeysComponent />
    }
    @if (ActivePage == Menus.News)
    {
        <NewsComponent />
    }
</div>

@code {

    private Menus ActivePage { get; set; } = Menus.MarketInfo;

    private string CheckActive(Menus target)
    {
        if (ActivePage == target)
            return "active";

        return "";
    }
    
    private void SetReferences()
    {
        SetActive(Menus.MarketReferences);
    }
    
    private void SetMarketInfo()
    {
        SetActive(Menus.MarketInfo);
    }

    private void SetApiKeys()
    {
        SetActive(Menus.CmcApiKeys);
    }
    
    private void SetNews()
    {
        SetActive(Menus.News);
    }


    private void SetActive(Menus page)
    {
        ActivePage = page;
        StateHasChanged();
    }
    
    public enum Menus
    {
        MarketReferences,
        MarketInfo,
        CmcApiKeys,
        News
    }
 
}