@page "/Simulations"

@using Backoffice.Components.Simulations
@using Backoffice.Services.Simulations

@inject ISimulationsManager _manager

@{
    var simulations = _manager.GetSimulations();
}

<ul class="nav nav-tabs nav-pills">
    @foreach (var simulation in simulations)
    {
        <li class="nav-item" style="margin: 10px">
            <button class="nav-link" aria-current="page" @onclick="@(() => SetSimulation(simulation))" >@simulation.Name</button>
        </li>
    }
</ul>

@foreach (var simulation in simulations)
{
    if (ActiveSimulation == simulation)
    {
        <ExternalMarketSimulationComponent Simulation="@simulation"/>
    }
}

@code {

    private SimulationService ActiveSimulation { get; set; }

    private void SetSimulation(SimulationService simulation)
    {
        ActiveSimulation = null;
        StateHasChanged();
        
        ActiveSimulation = simulation;
        StateHasChanged();
    }
}