@using Service.Bitgo.PendingApprovals.Grpc
@using Backoffice.Abstractions.Models
@using Service.Bitgo.PendingApprovals.Domain.Models
@using Backoffice.Abstractions.Bo
@inject IPendingApprovalsManageService _pendingApprovalsManageService;
@inject IToaster _toastService;

<Loader LoaderConfig="@LoaderConfig"/>

<ul class="nav">
    <li><button @onclick="OnRefresh" type="button" class="btn btn-outline-primary" style="margin: 5px; border-radius: 10px">Refresh</button></li>
</ul>

<h3>Pending Approvals</h3>

<table class="table">
    <thead>
    <tr>
        <th>Broker Id</th>
        <th>Id</th>
        <th>Create date</th>
        <th>Asset</th>
        <th>Amount</th>
        <th>Destination address</th>
        <th>Creator</th>
        <th>OperationId</th>
        <th>Approvers count</th>
        <th>Approvers list</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var pendingApproval in PendingApprovalsList)
        {
            <BitGoPendingApprovalsTableRow Item="@pendingApproval" LoaderConfig="@LoaderConfig"/>
        }
    </tbody>
</table>

@code {
    
    private ILoaderConfiguration LoaderConfig { get; set; } = new LoaderConfiguration();
    
    private List<PendingApproval> PendingApprovalsList { get; set; } = new();
    
    [CascadingParameter(Name = "CurrentBoUserUser")]
    public IBackOfficeUser CurrentBoUserUser { get; set; }

    protected override void OnInitialized()
    {
        OnRefresh();
        
        base.OnInitialized();
    }

    private async void OnRefresh()
    {
        LoaderConfig.Enable();

        PendingApprovalsList = await _pendingApprovalsManageService.GetPendingApprovals() ?? new List<PendingApproval>();
        
        LoaderConfig.Disable();
        await InvokeAsync(StateHasChanged);
    }
}