@using Backoffice.Services.SpotInstruments
@using MyJetWallet.Domain.ExternalMarketApi
@using MyJetWallet.Domain.ExternalMarketApi.Dto
@using Service.AssetsDictionary.Domain.Models
@inject IToaster ToastService;
@inject IExternalExchangeManager _externalExchangeManager;
@inject IExternalMarket _externalMarket;

<BaseTwoButtonsDialog 
    Caption=@(!IsCreate ? $"{Item.Exchange} [{Item.Market}]" : "Create a new spot convert external instrument") 
    OnClose="OnClose" 
    YesButtonCaption="@(IsCreate ? "Create" : "Save")"
    NoButtonCaption="Close"
    OnSubmit="OnSubmit">

    <table>
        <tr>
            <td>
            
                <table>
                    <tr>
                        <td>Exchange</td>
                        <td class="float-left">
                        @if (ExchangeNames.Any())
                        {
                            <select @bind="Item.Exchange">
                                @foreach (var exchange in ExchangeNames)
                                {
                                    <option value=@exchange>@exchange</option>
                                }
                            </select>
                        }
                        </td>
                    </tr>
                    <tr>
                        <td>Market</td>
                        <td class="float-left">
                        @if (Item.Exchange!= null && Markets[Item.Exchange].Any())
                        {
                            <select @bind="Item.Market">
                                @foreach (var market in Markets[Item.Exchange])
                                {
                                    <option value=@market>@market</option>
                                }
                            </select>
                        }
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>IsEnabled</td>
                        <td class="float-left" style="@(!Item.IsEnabled ? "background: red" : "")">
                            <input type="checkbox" @bind="Item.IsEnabled"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Base Asset</td>
                        <input type="text" class="form-control" @bind="Item.BaseAsset"/>
                    </tr>
                    <tr>
                        <td>Quote Asset</td>
                        <input type="text" class="form-control" @bind="Item.QuoteAsset"/>
                    </tr>
                    <tr>
                        <td>BrokerId</td>
                        <input type="text" class="form-control" @bind="Item.BrokerId"/>
                    </tr>
                    <tr>
                        <td>Price Accuracy</td>
                        <input type="number" class="form-control" @bind="Item.PriceAccuracy"/>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</BaseTwoButtonsDialog>


@code {
    
    [Parameter]
    public SpotConvertExternalInstrument Item { get; set; }
    
    [Parameter]
    public List<string> AddedInstruments { get; set; }

    [Parameter]
    public EventCallback OnCloseCallback { get; set; }
    
    [Parameter]
    public EventCallback<SpotConvertExternalInstrument> OnCreateCallback { get; set; }
    
    [Parameter]
    public EventCallback<SpotConvertExternalInstrument> OnUpdateCallback { get; set; }

    
    [Parameter]
    public bool IsCreate { get; set; }

    private List<string> ExchangeNames = new List<string>();
    private Dictionary<string, List<string>> Markets = new Dictionary<string, List<string>>();


    private void OnClose()
    {
        OnCloseCallback.InvokeAsync();
    }

    private async Task OnSubmit()
    {
        Item.Symbol = Item.BaseAsset.Trim() + Item.QuoteAsset.Trim();
        if (IsCreate)
        {
            if (AddedInstruments.Contains(Item.Symbol))
                ToastService.Error($"Instrument with symbol {Item.Symbol} already exists");
            else
                await OnCreateCallback.InvokeAsync(Item);
        }
        else
            await OnUpdateCallback.InvokeAsync(Item);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (IsCreate)
        {
            Item = new SpotConvertExternalInstrument()
            {
                BrokerId = "jetwallet"
            };
        }

        ExchangeNames = (await _externalExchangeManager.GetExternalExchangeCollectionAsync()).ExchangeNames;
        foreach (var exchange in ExchangeNames)
        {
            var response = await _externalMarket.GetMarketInfoListAsync(new GetMarketInfoListRequest()
            {
                ExchangeName = exchange
            });

            var markets = response.Infos.Select(t => t.Market).ToList();
            Markets.Add(exchange, markets);
        }
        Item.Exchange = ExchangeNames.First();
        Item.Market = Markets[Item.Exchange].First();
        StateHasChanged();
    }
}