@using Service.PushNotification.Grpc.Models.Requests
@using Microsoft.AspNetCore.Components
@using Service.PriceHistory.Grpc.Models
<BaseTwoButtonsDialog Caption="Edit base price"
                      OnClose="OnClose"
                      YesButtonCaption="Save"
                      NoButtonCaption="Cancel"
                      OnSubmit="OnSubmit">
    
    <h4>Asset: @BasePrice.InstrumentId</h4>
    <h4>Broker: @BasePrice.BrokerId</h4>

    <div>
        Current price: <input type="number" class="form-control" @bind="BasePrice.CurrentPrice"/>
    </div>
    <div>
        H24: <input type="number" class="form-control" @bind="BasePrice.H24"/>
    </div>
    <div>
        D7: <input type="number" class="form-control" @bind="BasePrice.D7"/>
    </div>
    <div>
        M1: <input type="number" class="form-control" @bind="BasePrice.M1"/>
    </div>
    <div>
        M3: <input type="number" class="form-control" @bind="BasePrice.M3"/>
    </div>

            
</BaseTwoButtonsDialog>

@code {
    
    
    [Parameter]
    public BasePriceEditRequest BasePrice { get; set; } = new();

    [Parameter]
    public EventCallback OnCloseCallback { get; set; }

    [Parameter]
    public EventCallback<BasePriceEditRequest> OnUpdateCallback { get; set; }

    private void OnClose()
    {
        OnCloseCallback.InvokeAsync();
    }

    private async Task OnSubmit()
    {
        await OnUpdateCallback.InvokeAsync(BasePrice);
    }

}