@using Service.SmsSender.Domain.Models
@using Service.SmsSender.Grpc
@using System.Threading
@inject ISmsProviderService SmsProviderService
@inject IToaster ToastService

<BaseTwoButtonsDialog Caption=@(!IsCreate ? Route.Name : "Create a new route")
                      OnClose="OnClose"
                      YesButtonCaption="@(IsCreate ? "Create" : "Save")"
                      NoButtonCaption="Close"
                      OnSubmit="OnSubmit">
    <table>
        <tr>
            <td>
                <table>
                    @if (!IsCreate)
                    {
                        <tr>
                            <td>Id</td>
                            <td class="float-left">
                                @Route.Id
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>Name</td>
                        <td class="float-left">
                            <input type="text" class="form-control" @bind="Route.Name" />
                        </td>
                    </tr>
                    <tr>
                        <td>Order</td>
                        <td class="float-left">
                            <input type="text" class="form-control" @bind="Route.Order" />
                        </td>
                    </tr>
                    <tr>
                        <td>Pattern</td>
                        <td class="float-left">
                            <input type="text" class="form-control" @bind="Route.Pattern" />
                        </td>
                    </tr>
                    <tr>
                        <td>Provider</td>
                        <td class="float-left">
                            @if (ProvidersList.Any())
                            {
                                <select @bind="Route.ProviderId">
                                    @foreach (var provider in ProvidersList)
                                    {
                                        <option value=@provider>@provider</option>
                                    }
                                </select>
                            }
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</BaseTwoButtonsDialog>

@code {

    [Parameter]
    public string ProviderId { get; set; }

    [Parameter]
    public ProviderRoute Route { get; set; } = new();

    [Parameter]
    public bool IsCreate { get; set; }

    [Parameter]
    public EventCallback OnCloseCallback { get; set; }

    [Parameter]
    public EventCallback<ProviderRoute> OnCreateCallback { get; set; }

    [Parameter]
    public EventCallback<ProviderRoute> OnUpdateCallback { get; set; }
    
    private List<string> ProvidersList { get; set; } = new();
    private const int MAX_ATTEMPTS_COUNT = 3;

    private void OnClose()
    {
        OnCloseCallback.InvokeAsync();
    }

    private async Task OnSubmit()
    {
        if (IsCreate)
        {
            await OnCreateCallback.InvokeAsync(Route);
        }
        else
        {
            await OnUpdateCallback.InvokeAsync(Route);
        }
    }

    
    private async Task LoadProvidersAsync()
    {
        var attempts = 0;
        var exceptionMessage = string.Empty;

        while (attempts < MAX_ATTEMPTS_COUNT)
        {
            try
            {
                var providersResponse = await SmsProviderService.GetAllProvidersAsync();
                ProvidersList = providersResponse?.Providers.ToList();
                StateHasChanged();
                break;
            }
            catch (Exception ex)
            {
                exceptionMessage = ex.Message;
                attempts++;
            }

            Thread.Sleep(1000);
        }

        if (attempts == MAX_ATTEMPTS_COUNT)
        {
            ToastService.Error(exceptionMessage, "Cannot get any providers.");
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        await LoadProvidersAsync();
        Route.ProviderId ??= ProviderId;
        await base.OnInitializedAsync();
    }
}