@using Service.Bitgo.Watcher.NoSql
<tr>
    <td>@Item.AssetSymbol</td>
    <td>@Item.WalletId</td>
    <td>@Item.Balance</td>
    <td>@Item.UpdateTime</td>
</tr>

@code {
    [Parameter]
    public WalletBalanceEntity Item { get; set; }
}
