@using Service.BitGo.SignTransaction.Domain.Models
<BaseTwoButtonsDialog
    Caption=@(!IsCreate ? $"{Item.CoinId}" : "Create a new BitGo Wallet")
    OnClose="OnClose"
    YesButtonCaption="@(IsCreate ? "Create" : "Update key")"
    NoButtonCaption="Close"
    OnSubmit="OnSubmit">

    <table>

        <tr>
            <td>

                <table>
                    <tr>
                        <td>Broker</td>
                        <td class="float-left">
                            @if (!IsCreate)
                            {
                                @Item.BrokerId
                            }
                            else
                            {
                                <input type="text" class="form-control" @bind="Item.BrokerId"/>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>BitGo coin</td>
                        <td class="float-left">
                            @if (!IsCreate)
                            {
                                @Item.CoinId
                            }
                            else
                            {
                                <input type="text" class="form-control" @bind="Item.CoinId"/>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>BitGo wallet Id</td>
                        <td class="float-left">
                            @if (!IsCreate)
                            {
                                @Item.Id
                            }
                            else
                            {
                                <input type="text" class="form-control" @bind="Item.Id"/>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td class="float-left">
                            <input type="text" class="form-control" @bind="Item.ApiKey"/>
                        </td>
                    </tr>
                </table>
            </td>

        </tr>
    </table>
</BaseTwoButtonsDialog>

@code {

    [Parameter]
    public BitGoWallet Item { get; set; }

    [Parameter]
    public bool IsCreate { get; set; }

    [Parameter]
    public EventCallback OnCloseCallback { get; set; }

    [Parameter]
    public EventCallback<BitGoWallet> OnCreateCallback { get; set; }

    [Parameter]
    public EventCallback<BitGoWallet> OnUpdateCallback { get; set; }

    private void OnClose()
    {
        OnCloseCallback.InvokeAsync();
    }

    private async Task OnSubmit()
    {
        if (IsCreate)
            await OnCreateCallback.InvokeAsync(Item);
        else
            await OnUpdateCallback.InvokeAsync(Item);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (IsCreate)
            Item = new BitGoWallet()
            {
                BrokerId = "jetwallet"
            };
    }

}