@using Service.AssetsDictionary.Grpc
@using Backoffice.Abstractions.Models
@using Microsoft.Extensions.Logging
@using Service.AssetsDictionary.Domain.Models

@inject IAssetsDictionaryService AssetsDictionaryService;
@inject IToaster ToastService
@inject ILogger Logger;

<Loader LoaderConfig="@LoaderConfig"/>


<p class="float-left"><span class="h2">Asset list</span></p>

<ul class="nav float-right">
    <li><button @onclick="OnRefresh" type="button" class="btn btn-outline-primary">Refresh</button></li>
    <li><button @onclick="OnAddAsset" type="button" class="btn btn-outline-success">Add</button></li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th>Broker</th>
            <th>Symbol</th>
            <th>Description</th>
            <th>Enabled</th>
            <th>Accuracy</th>
            <th>Kyc Deposit</th>
            <th>Kyc Withdrawal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var asset in AssetList)
        {
            <AssetTableRow Item="@asset" LoaderConfig="@LoaderConfig" OnDeleteCallback="DeleteAsset" />
        }
    
    </tbody>
</table>

@if (IsShowAdding)
{
    <div>
        <AssetDetailsDialogEdit IsCreate="true" OnCloseCallback="OnCloseAddingDialog" OnCreateCallback="OnCreateAsset" />
    </div>
}


@code {
    private string Message { get; set; } = "-- none --";
    
    public ILoaderConfiguration LoaderConfig { get; set; } = new LoaderConfiguration();
    
    private bool IsShowAdding { get; set; }

    private async void OnGetCountAssets()
    {
        try
        {
            var assetList = await AssetsDictionaryService.GetAllAssetsAsync();

            Message = $"Count Assets is {assetList.Assets.Length}";
        }
        catch (Exception ex)
        {
            Message = "Cannot get asset list";
        }

        StateHasChanged();
    }


    private async void OnRefresh()
    {
        LoaderConfig.Enable();
        AssetList = new Asset[] {};
        
        var assetList = await AssetsDictionaryService.GetAllAssetsAsync();

        AssetList = assetList.Assets;
        
        LoaderConfig.Disable();
        await InvokeAsync(StateHasChanged);
    }

    public Asset[] AssetList { get; set; } = new Asset[] {};

    protected override async void OnInitialized()
    {
        base.OnInitialized();

        OnRefresh();
    }


    private async Task OnAddAsset()
    {
        IsShowAdding = true;
        await InvokeAsync(StateHasChanged);
    }

    private void OnCloseAddingDialog()
    {
        IsShowAdding = false;
        StateHasChanged();
    }
    
    private async void OnCreateAsset(Asset asset)
    {
        try
        {   
            var result = await AssetsDictionaryService.CreateAssetAsync(asset);
            if (!result.IsSuccess)
            {
                ToastService.Error(result.ErrorMessage, "Create asset");
                return;
            }

            ToastService.Info($"Asset {asset.Symbol} is created", "Create asset");
            
            IsShowAdding = false;
            
            OnRefresh();    
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Cannot create asset");
            ToastService.Error("Cannot create asset, service is not available", "Asset creation");
        }
    }

    private async void DeleteAsset(Asset asset)
    {
        try
        {
            var result = await AssetsDictionaryService.DeleteAssetAsync(asset);
            
            if (result.IsSuccess)
                ToastService.Info($"Asset {asset.Symbol} is deleted", "Delete asset");
            else
                ToastService.Error(result.ErrorMessage, "Delete asset");

            IsShowAdding = false;
            
            OnRefresh();    
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Cannot delete asset");
            ToastService.Error("Cannot delete asset, service is not available", "Asset deletion");
        }
    }
}