@using Service.AssetsDictionary.Grpc
@using Backoffice.Abstractions.Models
@using Backoffice.Services.Assets
@using Service.AssetsDictionary.MyNoSql

@inject IAssetItemManager AssetItemManager;
@inject IToaster ToastService

<Loader LoaderConfig="@LoaderConfig"/>

<ul class="nav float-left">
    <li><button @onclick="OnRefresh" type="button" class="btn btn-outline-primary" style="margin: 5px; border-radius: 10px">Refresh</button></li>
    <li><button @onclick="OnAddAsset" type="button" class="btn btn-outline-success" style="margin: 5px; border-radius: 10px">Add</button></li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Description</th>
            <th>PreSym</th>
            <th>Enabled</th>
            <th>Accuracy</th>
            <th>Deposit</th>
            <th>Withdrawal</th>
            <th>Icon</th>
            <th>Brands</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var asset in AssetList)
        {
            <AssetTableRow Item="@asset" LoaderConfig="@LoaderConfig" OnDeleteCallback="DeleteAsset" />
        }
    
    </tbody>
</table>

@if (IsShowAdding)
{
    <div>
        <AssetDetailsDialogEdit IsCreate="true" OnCloseCallback="OnCloseAddingDialog" OnCreateCallback="OnCreateAsset" />
    </div>
}


@code {
    private string Message { get; set; } = "-- none --";

    private ILoaderConfiguration LoaderConfig { get; set; } = new LoaderConfiguration();
    
    private bool IsShowAdding { get; set; }

    private List<AssetItem> AssetList { get; set; } = new();

    private async void OnRefresh()
    {
        LoaderConfig.Enable();
        
        AssetList = await AssetItemManager.GetAll();
        
        LoaderConfig.Disable();
        await InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized()
    {
        OnRefresh();
        
        base.OnInitialized();
    }
    
    


    private async Task OnAddAsset()
    {
        IsShowAdding = true;
        await InvokeAsync(StateHasChanged);
    }

    private void OnCloseAddingDialog()
    {
        IsShowAdding = false;
        StateHasChanged();
    }
    
    private async void OnCreateAsset(AssetItem item)
    {
        try
        {
            item.PaymentSettings.PartitionKey = AssetPaymentSettingsNoSqlEntity.GeneratePartitionKey(item.Asset.BrokerId);
            item.PaymentSettings.RowKey = AssetPaymentSettingsNoSqlEntity.GenerateRowKey(item.Asset.Symbol);
            item.PaymentSettings.Symbol = item.Asset.Symbol;
            item.PaymentSettings.BrokerId = item.Asset.BrokerId;
            item.PaymentSettings.PaymentSettings.AssetSymbol = item.Asset.Symbol;

            await AssetItemManager.CreateAsset(item);
            
            ToastService.Info($"Asset {item.Asset.Symbol} is created", "Create asset");
            
            IsShowAdding = false;
            
            OnRefresh();    
        }
        catch (Exception ex)
        {
            ToastService.Error(ex.Message, "Asset creation");
        }
    }

    private async void DeleteAsset(AssetItem item)
    {
        try
        {
            await AssetItemManager.DeleteAsset(item);
            
            ToastService.Info($"Asset {item.Asset.Symbol} is deleted", "Delete asset");
            
            OnRefresh();    
        }
        catch (Exception ex)
        {
            ToastService.Error(ex.Message, "Asset deletion");
        }
    }
}