@inject ICurrentPricesCache PriceService

@using Service.MatchingEngine.PriceSource.Client
@using MyJetWallet.Domain.Prices
@implements IDisposable

@if (_price != null)
{
    <div style="font-size: 10px; background: @((DateTime.UtcNow - _price.DateTime).TotalSeconds > 5 ? "lightpink" : "white")">
        <div class="row">
            <div class="col-md-1">ask:</div>
            <div class="col-md-1">@_price.Ask</div>
        </div>
        <div class="row">
            <div class="col-md-1">bid:</div>
            <div class="col-md-1">@_price.Bid</div>
        </div>
        <div class="row">
            <div class="col-md-1">spred:</div>
            <div class="col-md-1">@(Math.Round((_price.Ask - _price.Bid) / ((_price.Ask + _price.Bid) / 2) * 100, 3))%</div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string BrokerId { get; set; }
    
    [Parameter]
    public string Symbol { get; set; }
    
    private bool _isDispose = false;
    private BidAsk _price;
    
    private async Task RefreshPrice()
    {
        if (_isDispose) return;
        
        if (BrokerId != null && Symbol != null)
        {
            _price = PriceService.GetPrice(BrokerId, Symbol);
        }
        else
        {
            _price = null;
        }

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _isDispose = true;
        GlobalTimers.RefreshTimer.RemoveCallback($"Price MM {Symbol}; {BrokerId}; {_id}");
    }

    private string _id = Guid.NewGuid().ToString();
    
    protected override void OnInitialized()
    {
        GlobalTimers.RefreshTimer.RegisterCallback($"Price MM {Symbol}; {BrokerId}; {_id}", RefreshPrice);
    }

}