@inject ICurrentPricesClient CurrentPricesClient

@using MyJetWallet.Domain.Prices
@using Service.IndexPrices.Client
@using Service.IndexPrices.Domain.Models
@implements IDisposable

@if (_price != null)
{
    <div style="font-size: 10px; background: @((DateTime.UtcNow - _price.DateTime).TotalSeconds > 5 ? "lightpink" : "white")">
        <div class="row">
            <div class="col-md-1">price:</div>
            <div class="col-md-1">@_price.Price</div>
        </div>
        <div class="row">
            <div class="col-md-1">source:</div>
            <div class="col-md-1">@_price.Source</div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string BrokerId { get; set; }
    
    [Parameter]
    public string Symbol { get; set; }
    
    private bool _isDispose = false;
    private CurrentPrice _price;
    
    private async Task RefreshPrice()
    {
        if (_isDispose) return;
        
        if (BrokerId != null && Symbol != null)
        {
            _price = CurrentPricesClient.GetPriceByInstrument(BrokerId, Symbol);
        }
        else
        {
            _price = null;
        }

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _isDispose = true;
        GlobalTimers.RefreshTimer.RemoveCallback($"Price MM {Symbol}; {BrokerId}; {_id}");
    }

    private string _id = Guid.NewGuid().ToString();
    
    protected override void OnInitialized()
    {
        GlobalTimers.RefreshTimer.RegisterCallback($"Price MM {Symbol}; {BrokerId}; {_id}", RefreshPrice);
    }

}