@using Backoffice.Abstractions.Models
@using Service.Liquidity.Engine.Domain.Models.Settings
@using Service.Liquidity.Engine.Grpc

@inject IToaster ToastService

@inject IHedgeSettingsManagerGrpc HedgeSettingsGrpc;

<Loader LoaderConfig="@LoaderConfig"/>


<div style="font-size: medium">
    <span>Mode: </span><MyLabel Color="@GlobalModeColor()" Text="@(GeneralSettings?.Mode.ToString())" />
</div>

<span style="margin-left: 10px" ></span>

<h3>HedgeComponent</h3>

@code {
    
    private ILoaderConfiguration LoaderConfig { get; set; } = new LoaderConfiguration();
    
    private HedgeSettings GeneralSettings { get; set; }

    private async Task OnRefresh()
    {
        LoaderConfig.Enable();
        await InvokeAsync(StateHasChanged);

        GeneralSettings = await HedgeSettingsGrpc.GetGlobalHedgeSettingsAsync();
        
        LoaderConfig.Disable();
        
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnInitializedAsync()
    {
        await OnRefresh();
    }

    private string GlobalModeColor()
    {
        switch (GeneralSettings?.Mode)
        {
            case EngineMode.Disabled:
                return "red";
                
            case EngineMode.Idle:
                return "yellow";
                
            case EngineMode.Active:
                return "green";
        }

        return "white";
    }

}