@using Service.Liquidity.Converter.Grpc
@using Microsoft.AspNetCore.Components
@using Service.Liquidity.Converter.Domain.Models.Settings
@using Service.Liquidity.Converter.Grpc.Models
@using Backoffice.Components.Converter.Settings.Models

@inject ILiquidityConverterSettingsManager SettingsManager

<div style="margin: 30px">
    <h3>Liquidity Converter Settings</h3>
</div>

<table>
@foreach (var repo in GeneralSettingCollection)
{
    <th>

            <h1>
                @repo.Caption
            </h1>


            <td class="align-middle">Broker Id</td>
            <td class="align-middle">
                <input type="text" class="form-control" @bind="repo.Settings.BrokerId"/>
            </td>

        <tr>
            <td class="align-middle">Broker Account Id</td>
            <td class="align-middle">
                <input type="text" class="form-control" @bind="repo.Settings.BrokerAccountId"/>
            </td>
        </tr>
        <tr>
            <td class="align-middle">Broker Wallet Id</td>
            <td class="align-middle">
                <input type="text" class="form-control" @bind="repo.Settings.BrokerWalletId"/>
            </td>
        </tr>
        <tr>
            <td class="align-middle">Mark Up (Coefficient)</td>
            <td class="align-middle">
                <input type="number" class="form-control" @bind="repo.Settings.MarkUp"/>
            </td>
        </tr>
        <tr>
            <td class="align-middle">Expiration In Seconds</td>
            <td class="align-middle">
                <input type="number" class="form-control" @bind="repo.Settings.ExpirationInSeconds"/>
            </td>
        </tr>
        <tr>
            <td class="align-middle">Client Expiration In Seconds</td>
            <td class="align-middle">
                <input type="number" class="form-control" @bind="repo.Settings.ClientExpirationInSeconds"/>
            </td>
        </tr>
        <tr>
            <td class="align-middle">Cross assets (with ",")</td>
            <td class="align-middle">
                <input type="text" class="form-control" @bind="repo.CrossAssets"/>
            </td>
        </tr>
    </th>
}
</table>

<div>
    <ul class="nav align-middle">
        <li><button style="margin-left: 10px" type="button" class="btn-outline-danger btn" @onclick="ApplySettings">Apply</button></li>
        <li><button style="margin-left: 10px" type="button" class="btn-outline-info btn" @onclick="ResetSettings">Refresh</button></li>
        <li><button style="margin-left: 10px" type="button" class="btn-outline-info btn" @onclick="CreateNew">Create new</button></li>
    </ul>
</div>

@if (IsShowQuestion)
{
    <div>
        <BaseTwoButtonsDialog
            Caption="@QuestionTitle"
            OnClose="OnCloseQuestionDialog"
            YesButtonCaption="Yes"
            NoButtonCaption="No"
            OnSubmit="ConfirmQuestion">
            
            <h3 class="alert-warning">@QuestionText</h3>
            
        </BaseTwoButtonsDialog>
    </div>
}

@code {
    private List<ConverterSettingsRepository> GeneralSettingCollection { get; set; } = new List<ConverterSettingsRepository>();

    private string ErrorText { get; set; }
    private bool ShowError { get; set; } = false;
    
    private bool IsShowQuestion { get; set; }
    private string QuestionTitle { get; set; }
    private string QuestionText { get; set; }
    private Func<Task> QuestionConfirmCallback { get; set; }

    private async Task CreateNew()
    {
        GeneralSettingCollection.Add(new ConverterSettingsRepository(){Caption = "New settings"});
        ShowError = false;
        StateHasChanged();
    }
    
    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
        StateHasChanged();
    }
    
    private async Task RefreshData()
    {
        try
        {
            var response = await SettingsManager
                .GetLiquidityConverterSettingsAsync();
            if (!response.Success)
            {
                ShowErrorText(response.ErrorMessage);
            }
            else
            {
                GeneralSettingCollection = new();
                response.Settings.ForEach(elem =>
                {
                    GeneralSettingCollection.Add(new ConverterSettingsRepository()
                    {
                        Settings = elem
                    });
                });
                ShowError = false;
            }
        }
        catch (Exception exception)
        {
            ShowErrorText(exception.Message);
        }
    }

    private void ShowErrorText(string message)
    {
        ErrorText = message;
        ShowError = true;
        GeneralSettingCollection = new List<ConverterSettingsRepository>();

        StateHasChanged();
    }
    private void ApplySettings()
    {
        AskQuestion("Change Settings", "Apply a new Global settings. Are you sure?",
            async () =>
            {
                await SettingsManager.UpdateAllLiquidityConverterSettingsAsync(new UpdateAllLiquidityConverterSettingsRequest()
                {
                    SettingsCollection = GeneralSettingCollection.Select(elem => elem.Settings).ToList()
                });
                
                StateHasChanged();
            });
    }
    private async Task ResetSettings()
    {
        await RefreshData();
        StateHasChanged();
    }

    private void AskQuestion(string title, string content, Func<Task> confirmAction)
    {
        QuestionTitle = title;
        QuestionText = content;
        QuestionConfirmCallback = confirmAction;
        IsShowQuestion = true;
        
        StateHasChanged();
    }
    private async Task ConfirmQuestion()
    {
        await InvokeAsync(StateHasChanged);
        
        var action = QuestionConfirmCallback;
        if (action != null)
        {
            await action.Invoke();
        }

        IsShowQuestion = false;
        await InvokeAsync(StateHasChanged);
    }
    private void OnCloseQuestionDialog()
    {
        IsShowQuestion = false;
        StateHasChanged();
    }
}