@using Service.CoinMarketCapReader.Domain.Models
@using Service.MessageTemplates.Grpc
@inject ITemplateService _templateService
@inject IToaster _toastService

<BaseTwoButtonsDialog 
    Caption=@($"{Item.Asset} [{Item.BrokerId}") 
    OnClose="OnClose" 
    YesButtonCaption="Save"
    NoButtonCaption="Close"
    OnSubmit="OnSubmit">

    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Price</td>
                        <input type="number" class="form-control" @bind="Item.Price"/>
                    </tr>
                    <tr>
                        <td>Supply</td>
                        <input type="number" class="form-control" @bind="Item.Supply"/>
                    </tr>  
                    <tr>
                        <td>Volume24</td>
                        <input type="number" class="form-control" @bind="Item.Volume24"/>
                    </tr>
                    <tr>
                        <td>MarketCap</td>
                        <input type="number" class="form-control" @bind="Item.MarketCap"/>
                    </tr>
                    <tr>
                        <td>OfficialWebsiteUrl</td>
                        <input type="text" class="form-control" @bind="Item.OfficialWebsiteUrl"/>
                    </tr>
                    <tr>
                        <td>WhitepaperUrl</td>
                        <input type="text" class="form-control" @bind="Item.WhitepaperUrl"/>
                    </tr>
                    <tr>
                        <td>AboutMore Template Id</td>
                        <input type="text" class="form-control" @bind="Item.AboutMoreTemplateId"/>
                    </tr>
                    <tr>
                        <td>AboutLess Template Id</td>
                        <input type="text" class="form-control" @bind="Item.AboutLessTemplateId"/>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</BaseTwoButtonsDialog>

@code {
    [Parameter]
    public MarketInfo Item { get; set; }
    
    [Parameter]
    public EventCallback OnCloseCallback { get; set; }
    
    [Parameter]
    public EventCallback<MarketInfo> OnUpdateCallback { get; set; }
    
    
    private void OnClose()
    {
        OnCloseCallback.InvokeAsync();
    }

    private async Task OnSubmit()
    {
        var template = await _templateService.GetAllTemplates();
        var templateLessExists = template.Templates.Any(t => t.TemplateId == Item.AboutLessTemplateId);
        var templateMoreExists = template.Templates.Any(t => t.TemplateId == Item.AboutMoreTemplateId);
        
        if(!templateLessExists)
            _toastService.Error($"No template found with ID {Item.AboutLessTemplateId}");

        if(!templateMoreExists)
            _toastService.Error($"No template found with ID {Item.AboutMoreTemplateId}");

        if(templateLessExists && templateMoreExists)
            await OnUpdateCallback.InvokeAsync(Item);
    }
}